/*Define variables for the root element*/
:root {
  --main-bg-color:#f4f4f4f4;
  --main-text-color: #333;
  --container-width: 90%;
  --container-margin: 20px auto;
  --header-bg-color:#333;
  --header-txt-color:#fff;
  --span-one-color: tomato;
  --span-two-color: rgb(211, 160, 21);
  
}

body{
  margin:0;
  padding:0;
  line-height:1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.container{
  width: var(--container-width);
  margin: var(--container-margin);
}

header#main-header{
  background-color: var(--header-bg-color) ;
  color: var(--header-txt-color);
}

header#main-header h1{
  margin:0;
  padding:0;
}

.one{
  color:var(--span-one-color);
}
.two{
  color:var(--span-two-color);
}
.grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
/*Define box vars*/
.box { /*can keep it only for variables*/
  --box-bg-color:#ddd;
  --box-main-color:#06c;
  --box-padding: 5px 10px;
  --box-shadow-h-offset:10px;
  --box-shadow-v-offset:5px;
  --box-shadow-blur: 1px;
  }

  .box {
    background-color: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    box-shadow:
    var(--box-shadow-h-offset)
    var(--box-shadow-v-offset) 
    var(--box-shadow-blur)
    var(--box-main-color);/*horizontal offset, vertical offset, blur, color*/
  }
  .box h1{
    color: var(--box-main-color);
  }
  .box p{
    --box-main-color: #555; /*can overwrite main color for specific elements*/
    color:var(--box-main-color);
    color: var(--box-p-color, green);/*can set fall back color*/
  }
/*WEB DEV SIMPLIFIED*/

.web-dev-simplified {
  --bg-color: #e3e3e3;
  --blue: #1b4f94;
  --light-blue: #e6f0ff;
  --red: #8e2c43;
  --light-red: #c76073;
  --yellow: #d5a419;
  --drk-yellow: #ab8000;
  --green: #71aba7;
  --drk-green: #348681;
  --brdr-size: 4px;
}

.web-dev-simplified,
.web-dev-simplified::before,
.web-dev-simplified::after {
  box-sizing: border-box;
}

.web-dev-simplified {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.web-dev-simplified button {
  margin: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.web-dev-simplified .btn {
  font-size: 1.5rem;
  padding: 0.5em 3em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}
/*WEB DEV SIMPLIFIED*/

/*BORDER POP*/

.btn.btn-brdr-pop {
  background-color: var(--green);
}
.btn.btn-brdr-pop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--brdr-size) solid var(--drk-green);
  z-index: -1;
  transition: top, left, right, bottom, 100ms ease-in-out;
}
.btn.btn-brdr-pop:hover::before,
.btn.btn-brdr-pop:focus::before {
  top: calc(var(--brdr-size) * -2);
  left: calc(var(--brdr-size) * -2);
  right: calc(var(--brdr-size) * -2);
  bottom: calc(var(--brdr-size) * -2);
}
/*BACKGROUND SLIDE*/
.btn.btn-bg-slide {
  background-color: var(--light-red);
  z-index: 1;
  transition: color 300ms ease-in-out;
}

.btn.btn-bg-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--red);
  transition: 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-bg-slide:hover::before,
.btn.btn-bg-slide:focus::before {
  transform: scaleX(1);
}

.btn.btn-bg-slide:hover,
.btn.btn-bg-slide:focus {
  color: pink;
}

/*BACKGROUND CIRCLE*/
.btn.btn-bg-circle {
  z-index: 1;
  background-color: var(--drk-yellow);
  overflow: hidden;
  color: var(--blue);
  transition: color 500ms ease-in-out;
}
.btn.btn-bg-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--yellow);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;
  transform: scale(1.5);
}
.btn.btn-bg-circle:hover::before,
.btn.btn-bg-circle:focus::before {
  transform: scale(0);
}
.btn.btn-bg-circle:hover,
.btn.btn-bg-circle:focus {
  color: white;
}
/*BORDER UNDERLINE*/
.btn.btn-brdr-underline {
  background-color: var(--light-blue);
  color: var(--blue);
}

.btn.btn-brdr-underline::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--brdr-size);
  background-color: var(--blue);
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
}
.btn.btn-brdr-underline:hover::before,
.btn.btn-brdr-underline:focus::before {
  transform: scaleX(1);
  height: var(--brdr-size);
}

